<div align="center">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <input type="text" formControlName="username" id="username" placeholder="username or email"><br><br>
        <input type="password" formControlName="password" id="password" placeholder="password"><br><br>
        <button type="submit" [disabled]="!loginForm.valid">Login</button><br><br>
    </form>
    <a href="#" routerLink="/register">Create Account</a>
</div>


<div *ngIf="dialogg">
  <br><br><br><hr>
<ol>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>
</div>